.button {
  cursor: pointer;
  background: transparent;
  color: var(--c-text-color);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--fade);
  text-decoration: none;

  &:hover {
    color: var(--c-theme);
    background-color: var(--c-theme-10);
  }
}

.fullWidth {
  width: 100% !important;
}

.iconButton {
  padding: 8px;

  svg {
    font-size: 24px;
  }
}
