.layout {
  display: grid;
  grid-template-columns: 68px 1fr;
  min-height: 100vh;
  max-width: calc(68px + 600px);
  margin-left: auto;
  margin-right: auto;

  @media (--t-s) {
    grid-template-columns: 88px 1fr;
    max-width: calc(88px + 600px);
  }

  @media (--t) {
    grid-template-columns: 88px 1fr 290px;
    max-width: calc(88px + 600px + 290px);
  }

  @media (--d-s) {
    grid-template-columns: 88px 1fr 350px;
    max-width: calc(88px + 600px + 350px);
  }

  @media (--d) {
    grid-template-columns: 275px 1fr 350px;
    max-width: calc(275px + 600px + 350px);
  }
}
