.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  max-width: 670px;
  margin-left: auto;
  margin-right: auto;

  @media (--t) {
    max-width: 1060px;
    grid-template-columns: auto 1fr 380px;
  }
  @media (--d) {
    max-width: 1270px;
  }
}
