.stack {
  --gap: 10px;
  display: flex;
  align-items: center;

  /* bütün alt elemanlara uygulanır. sadece ilk çocuklara uygulanmalı */
  * + * {
    margin-left: var(--gap);
  }
}

.column {
  flex-direction: column;
  align-items: flex-start;

  * + * {
    margin-left: 0;
    margin-top: var(--gap);
  }
}

.row {
  flex-direction: row !important;
  justify-content: flex-start;
  * + * {
    margin-left: 0;
    margin-top: 0;
    margin-right: var(--gap);
  }
  * + div {
    margin-left: var(--gap);
  }
  * + small {
    margin-left: 0;
  }
}

.center {
  align-items: center;
  margin-top: 3rem;
  small {
    text-align: center;
    font-size: 14px;
    padding: 0 40px;
  }
}

.border {
  margin-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 10px solid var(--c-border-color);
}

.small {
  * + div {
    margin-left: 15px;
  }
  * + small {
    margin-left: var(--gap) !important;
    font-size: 14px;
  }
}
