.button {
  cursor: pointer;
  background: transparent;
  color: var(--c-text-color);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--fade);

  &:hover {
    color: var(--c-theme);
    background-color: var(--c-theme-20);
  }
}

.fullWidth {
  width: 100% !important;
}
