.button {
  background-color: var(--c-theme);
  color: var(--c-theme-text-color);
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  min-width: 40px;
  font-weight: bold;
  transition: var(--fade) all;

  &:hover {
    background-color: var(--c-theme-dark);
    color: var(--c-theme-text-color);
  }
}

.bigButton {
  height: 47px;
  min-width: 47px;
}
