.navButton {
  position: relative;
  justify-content: center;
  padding-top: 4px;
  padding-bottom: 4px;

  @media (--d) {
    justify-content: flex-start;
    width: 100%;
    &:first-child {
      width: auto;
    }
  }

  .navButtonContent {
    display: flex;
    padding: 10px;
    border-radius: 99px;
    color: inherit;
  }

  &:hover {
    background: transparent;
    .navButtonContent {
      background-color: var(--c-theme-10);
    }
  }

  svg {
    font-size: 26px;

    & + * {
      margin-left: 20px;
      margin-right: 15px;
    }
  }

  &:global(.twitter) {
    color: var(--c-theme);

    :global(html:not(.light)) & {
      color: white;
    }
  }
}

.navButtonSelected {
  color: var(--c-theme);
}

.notify {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 17px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  background-color: var(--c-theme);
  color: var(--c-theme-text-color);
  font-size: 11px;
  border: 1px solid var(--c-primary);
}
