.button {
  background-color: var(--c-theme);
  color: var(--c-theme-text-color);
  height: 40px;
  min-width: 40px;
  font-weight: bold;
  transition: var(--fade);

  &:hover {
    color: var(--c-theme-text-color);
    background-color: var(--c-theme-hover);
  }

  span {
    margin-left: 15px;
    margin-right: 15px;
  }
  svg {
    font-size: 22px;
  }
}

.bigButton {
  height: 49px;
  min-width: 49px;
}
