:root {
  --c-primary: #fff;
  --c-theme: rgba(29, 161, 242, 1);
  --c-theme-10: rgba(29, 161, 242, 0.1);
  --c-text-color: #000;
  --c-border-color: rgb(230, 236, 240);
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
  --fade: 120ms;
}

.dim:root {
  --c-primary: rgb(21, 32, 43);
  --c-text-color: #fff;
  --c-border-color: #2f3336;
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
}

.dark:root {
  --c-primary: #000;
  --c-text-color: #fff;
  --c-border-color: #2f3336;
  --c-gray: #6e767d;
  --c-dark-gray: #202327;
}
