.sidebar {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;

  @media (--d) {
    align-items: flex-start;
    padding-right: 46px;
  }
}

.tweet {
  margin-top: 16px;
  margin-bottom: 20px;

  @media (--d) {
    width: 100%;
  }
}

.profile {
  margin-top: auto;
  margin-bottom: 14px;
}
